body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#tab-icons {
  width: 100%;
  position: fixed;
}

.tab-pane {
  height: 100vh;
  padding: 10px;
  overflow: scroll;
}

pre {
  background: #eee;
  border: 1px solid;
  border-color: gray;
  border-radius: 6px;
  padding: 8px;
  margin: 5px;
}
